*{margin:0; padding:0}
.heder-style{
    background:#ddd;
    width: 90%;
    margin:0 auto;
    display:block;
    text-align: center;
    margin-bottom: 40px;
}
.App{
    background:#ddd;
}
.user{
    width:90%;
    margin: 0 auto;
    display:block;
    text-align: center;
}